*{
    padding:0;
    scroll-behavior: smooth;
    margin:0;
    box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.box{
    width:100%;
    background-color: black;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    width:100%;
    background-image: url(../img/imageead.png);
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: "Jua", sans-serif;
        font-weight: 400;
        font-style: normal;
    justify-content: space-around;
    align-items: center;
}
.clouds{
    width: 100%;
    position: absolute;
    top:0px;
    animation:the_only_one 6s linear forwards;
}
@keyframes the_only_one {
    100%{
        opacity: 0;
        transform: translateY(-200px);
    }
}
nav{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}
nav button{
    background: none;
    border:none;
    height:24px;
    width:82px;
}
.special_button{
    background-color: black;
    border-radius: 45px;
    color: white;
    height: 44px;
    width:101px;
}
.inside_main{
    width:100%;
    height: 581px;
    text-align: center;
}
.DISCOVER{
    font-size: 40px;
    letter-spacing: 12px;
    margin-bottom: 62px;
}
.SWITZERLAND{
    font-size:75px;
    letter-spacing: 20px;
    margin-bottom: 325px;
}
.SCROLL{
    font-size:40px;
    letter-spacing: 12px;
}
.links{
    width:100%;
    height:32px;
}
.links img{
    margin-left:50px;
}
.destionation{
    width:100%;
    background-color: black;
    height: 1100px;
}
.destionation h2{
    color:white;
    font-size: 55px;
}
.images_dest{
    width:50%;
    height: 506px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inside_dest{
    width: 32%;
    height: 506px;
    color: white;
    text-align: center;
    font-size:26px;
}
.last_text{
    color: white;
    display: block;
    width:50%;
    height: 205px;
    margin:0 auto;
    margin-top:56px;
}
.try{
    width:73%;
    height: 539px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.text_try{
    width:61%;
    color:white;    
    text-align: center;
    height:200px;
}
.text_try h2{
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 5%;
}
.text_try p{
    font-size: 20px;
    line-height: 24px;  
}
.boxes{
    width: 100%;
    margin-bottom: 100px;
    height:250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: white sloid 2px;
}
.boxes_inside p{
    font-size: 20px;
}
.boxes_inside h2{
    font-size: 36px;
}
.boxes_inside{
    width:18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color:white;
    height:250px;
    background-color: #78654F;
}
.big_w{
    font-size: 55px;
    text-align: center;
}
.price{
    width:73%;
    height: 1152px;
    color: white;
    margin:0 auto;
}
.places_box{
    display: flex;
    width:100%;
    height: 1034px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.places{
    width: 31%;
    border: black solid 2px;
    height: 486px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.alot{
    font-size:16px;
    color: rgba(255, 255, 255, 0.810);
}
.v139{
    width: 31%;
    border: black solid 2px;
    height: 486px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_opos{
    width:100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
}
.v139 h2{
    text-decoration: underline;
    font-size:16px;
}
.places h2{
    text-decoration: underline;
    font-size:16px;
}
.regist{
    width:100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    align-items: center;
    margin-top: 172px;
}
.regist p{
    text-align: center;
    font-size: 33px;
}
.big_menu{
    width:33%;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.register_menu{
    width: 67%;
    height: 68px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius:50px ;
}
.register_menu img{
    height:18px;
}
.pint{
    background:none;
    width:80%;
    height: 38px;
    border: none;
}
.subscribe_but{
    width:29%;
    color: white;
    height: 68px;
    background:none;
    border-radius: 45px;
    border:rgb(255, 255, 255) solid 1px ;
}
footer{
    width:100%;
    height: 318px;
    margin-top: 138px;
    background-color: #463A2D;
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.big_footer{
    width: 90%;
    height: 133px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.first_part{
    width: 16%;
    height: 114px;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.first_part img{
    width:59%;
}
.second_part p{
    display: block;
    height: 41px;
    width:19%;
    color: #ECECEC;
}
.second_part{
    height: 133px;
    width:38%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.third_part p{
    display: block;
    width:100%;
    font-size: 20px;
}
.third_part{
    width: 16%;
    height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.third_part img {
    width:50%;
    height: 50px;
}
.text_last_footer{
    font-size:16px;
    display: block;
    height:24px;
    color: #ECECEC;
}
@media screen and (width<480px) {
    .clouds{
        width: 100%;
        position: absolute;
        top:-500px;
        animation:the_only_one 3s linear forwards;
    }
    @keyframes the_only_one {
        100%{
            opacity: 0;
            transform: translateY(-200px);
        }
    }
    .box{
        overflow: hidden;
    }
    .header{
        background-image: url(../img/scenic-view-snow-covered-peaks-aiguille-verte-french-alps\ 2.png);
    }
    nav{
        height:182px;
        flex-direction: column;
    }
    nav button{
        width:33%;
        font-size: 24px;
    }
    .buttons{
        width:100%;
        height: 110px;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .DISCOVER{
        font-size:30px;
    }
    .SWITZERLAND{
        font-size: 50px;
        letter-spacing: 5px;
    }
    .SCROLL{
        color: whitesmoke;
        font-size:30px;
        letter-spacing: 5px;
    }
    .links{
        display: none;
    }
    .destionation{
        width:100%;
        margin-top:56px;
        background-color: black;
        height: 2400px;
    }
    .destionation h2{
        color:white;
        text-align: center;
        font-size: 30px;
    }
    .images_dest{
        width:100%;
        margin-top:74px;
        height: 1348px;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .inside_dest{
        width: 60%;
        height: 506px;
        color: white;
        text-align: center;
        font-size:26px;
    }
    .inside_dest img{
        width: 100%;
    }
    .last_text{
        color: white;
        display: block;
        width:90%;
        height: 205px;
        margin:0 auto;
        margin-top:56px;
    }
    .try{
    width:73%;
    height: 1302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.text_try{
    width:100%;
    color:white;    
    text-align: center;
    height:200px;
}
.text_try h2{
    font-size: 15px;
    line-height: 30px;
}
.text_try p{
    font-size: 10px;
}
.boxes{
    width: 90%;
    height:1093px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxes_inside p{
    font-size: 20px;
}
.boxes_inside h2{
    font-size: 36px;
}
.boxes_inside{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    text-align: center;
    color:white;
    height:250px;
    background-color: #78654F;
}
.v139 img{
    width:100%;
}
.text_opos{
    font-size: 15px;
}
.v139{
    display: flex;
    width:100%;
}
.places{
    display: none;
}
.price{
    height: 500px;
}
.regist{
    width:100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 357px;
    align-items: center;
    margin-top: 118px;
}
.regist p{
    text-align: center;
    font-size: 24px;
}
.big_menu{
    width:100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.register_menu{
    width: 90%;
    height: 68px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius:50px ;
}
.register_menu img{
    height:18px;
}
.pint{
    background:none;
    width:80%;
    height: 38px;
    border: none;
}
.subscribe_but{
    width:90%;
    color: white;
    height: 68px;
    background:none;
    border-radius: 45px;
    border:rgb(255, 255, 255) solid 1px ;
}
footer{
    width:100%;
    height: 500px;
    margin-top: 138px;
    background-color: #463A2D;
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.big_footer{
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first_part{
    width: 100%;
    height: 114px;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.first_part img{
    width:59%;
}
.second_part p{
    display: block;
    height: 41px;
    width:19%;
    color: #ECECEC;
}
.second_part{
    height: 133px;
    width:100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.third_part p{
    display: block;
    width:100%;
    font-size: 20px;
}
.third_part{
    width: 100%;
    height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.third_part img {
    width:30%;
    height: 50px;
}
.text_last_footer{
    font-size:16px;
    display: block;
    height:24px;
    color: #ECECEC;
}
}